
/* SASS mixin that will calculate the size of a page element relative the max-width or width of its parent.

Pass these arguments:
- number of columns you want in the container
- the width or max-width of the parent container in pixels
- the width of the gutter in pixels
- the number of columns you want the item to span

It will calculate the width in percentage.

	@include spanner (7, 1800px, 0px, 2);

	yields: width:28.5714286%

*/


@mixin spanner ($number_of_columns, $container_width, $gutter, $span)
	{
	$gutter_calc: percentage($gutter / $container_width);
	$box_calc: percentage(($container_width / $number_of_columns) / $container_width);
	

	
	$gutter_subtract: $gutter_calc / $number_of_columns;
	
	width: (($box_calc + $gutter_subtract) - $gutter_calc) * $span;
	margin:$gutter_calc $gutter_calc 0 0;
	
	box-sizing:border-box;
	float:left;
	}	